

<div class="card" style="width: 18rem;">


  <ngb-carousel  #carousel [interval]="5000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of car.pictures">

      <!--      Mettre un onclick et agrandir l'image-->
      <!--      <a href="#" class="pop">-->
      <div style="height: 200px;" class="picsum-img-wrapper">
        <img  [src]="img">
      </div>
      <!--      </a>-->

    </ng-template>
  </ngb-carousel>



  <div class="card-body">

    <h5 class="card-title">
      <span *ngIf="car.title; else na">
        {{car.title}}
      </span>
    </h5>

    <h5 class="card-title">
      <span *ngIf="car.id; else na">
        #{{car.id}}
      </span>
    </h5>



    <p class="card-text">Marque :
      <span *ngIf="car.brand; else na">
        {{car.brand}}
      </span>
    </p>

    <p class="card-text">Modèle :
      <span *ngIf="car.model; else na">
        {{car.model}}
      </span>
    </p>

    <p class="card-text">Année du modèle :
      <span *ngIf="car.model_year; else na">
        {{car.model_year}}
      </span>
    </p>

    <p class="card-text">Mise en circulation :
      <span *ngIf="car.issuance; else na">
        {{car.issuance}}
      </span>
    </p>

    <p class="card-text">Kilométrage:
      <span *ngIf="car.mileage; else na">
        {{car.mileage | currency: 'Km':'symbol':'1.0-2'}}
      </span>
    </p>

    <p class="card-text">Carburant :
      <span *ngIf="car.fuel; else na">
        {{car.fuel}}
      </span>
    </p>

    <p class="card-text">Couleur :
      <span *ngIf="car.color; else na">
        {{car.color}}
      </span>
    </p>

    <p class="card-text">Nombre de portes :
      <span *ngIf="car.numbers_doors; else na">
        {{car.numbers_doors}}
      </span>
    </p>

    <p class="card-text">Puissance DIN :
      <span *ngIf="car.horse_power; else na">
        {{car.horse_power | currency: 'Ch':'symbol':'1.0-2'}}
      </span>
    </p>

    <h5 class="card-title">Prix :
      <span *ngIf="car.price; else na">
        {{car.price | currency: '€':'symbol':'1.0-2'}}
      </span>
    </h5>



    <p class="card-text">Vendue :
      <span *ngIf="car.sold; else na">
        {{car.sold}}
      </span>
    </p>

    <p class="card-text">Address :
      <span *ngIf="car.address; else na">
        {{car.address}}
      </span>
    </p>


    <button class="btn btn-danger" (click)="delete()">Supprimer</button>
    <a href="/car-update/{{car.id}}" class="btn btn-info" >Modifier l'annonce</a>
  </div>

</div>

<ng-template #na>Non renseigné</ng-template>
